# Required for the app
MONGODB_URI=
NEARLY_CLIENT_URL=

# Required for docker compose push (replace YOUR_DOCKERHUB_USERNAME with your username)
DOCKER_IMAGE=YOUR_DOCKERHUB_USERNAME/nearlytracking:latest
